.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #462525;
  font-size: 1.25em;
  color: white;
  height: 20vh;
  transition: margin-left 0.3s;
}

main {
  transition: margin-left 0.3s;
}


header #sidebar-menu-icon {
  width: 10%;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
  border: 0;
  background: none;
  color: #fff;
}

header .main-heading {
  width: 90%;
  text-align: center;
}

header .main-heading h1 {
  margin: 0;
}

#sidebar-menu-icon:hover, #close-sidebar-menu:hover {
  cursor: pointer;
}

#canvas-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eeedeb;
  overflow-x: hidden;
  transition: 0.3s;
}

#canvas-menu.closed {
  width: 0;
  visibility: hidden;
}

#canvas-menu.open {
 width: 305px;
 visibility: visible; /* For accessibility */
 padding: 15px 10px;
}

#filter {
  width: 79%;
  height: 25px;
  margin: 0;
}

#close-sidebar-menu {
  float: right;
  background: 0;
  border: 0;
  text-align: right;
  padding: 7px 5px;
  font-size: 1em;
}

.listPlaces {
  display: block;
  list-style-type: none;
  padding: 0;
}

.listPlaces li {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.listPlaces li button {
  background: 0;
  border: 0;
  text-align: left;
  font-size: 1em;
}

.listPlaces li button:hover {
  cursor: pointer;
  color: #ff0000; 
}


#appHeader.closed, #appMain.closed {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

#appHeader.open, #appMain.open {
  margin-left: 325px;
}


/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  height: 80vh;
}


/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  header {
    font-size: 0.6em;
    height: 10vh;
    width: 100vw;
  }

  #appHeader.closed, #appMain.closed {
    transition: all 0.3s ease;
  }

  #appHeader.open, #appMain.open {
    margin-left: 0;
    transition: all 0.3s ease;
  }

  #appMain.open #map{
    height: 57vh;
    top: 33vh;
    transition: all 0.3s ease;
  }

  #canvas-menu.closed {
    width: 100vw;
    height: 0;
  }

  #map {
    height: 90vh;
  }

  #canvas-menu.open {
    width: 100vw;
    top: 10vh;
    height: 30vh;
    transition: all 0.3s ease;
  }

}
